<div class="row border border-dark rounded-lg p-3 m-1 mb-3">
    <h5 class="h3">Ingredient</h5>
    <mat-divider></mat-divider><br>
    <div class="container p-0 m-0">
        <!--<div class="col p-1 m-0 d-inline-block text-dark">-->
        <!--Zamieniam wersję ASP.NET na Angularową-->
        <!--@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control p-2 m-0", @id = "SearchInputIngredient", @placeholder = "Search..." }});-->
        <!--</div>-->

        <form class="col col-10 col-md-9 p-2 m-0 d-inline-block">
            <mat-form-field>
                <input type="text" name="prefix" [(ngModel)]="prefix" (ngModelChange)="updateIngredientList(prefix)" matInput [matAutocomplete]="auto" placeholder="Search ingredient" />
                <mat-autocomplete #auto="matAutocomplete" panelWidth="auto" (optionSelected)="setTemplateIngredient($event.option.value)">
                        <mat-option *ngFor="let i of creator.ingredients" [value]="i.name">
                            {{i.name}}
                        </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>


        <div class="col col-2 col-md-3 p-0 m-0 d-inline-block">
            <button class="btn btn-light btn-block" id="addIngredientBtn" (click)="addIngredient(ingredientTemplate)"><i class="fas fa-plus fa-1x"></i> </button>
        </div>


        <div class="col col-12 p-0 m-0 d-inline-block bg-dark rounded m-0 p-1">
            <div class="col col-6 m-0 p-0 d-inline-block">
                <form class="m-1 p-1">
                    <mat-form-field>
                        <input matInput class="mat-form-field m-0 p-1" required type="text" placeholder="Name" [(ngModel)]="ingredientTemplate.name" name="name" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="mat-form-field m-0 p-1" numbersOnly required type="number" placeholder="Weight (g)" [(ngModel)]="ingredientTemplate.weight" name="weight" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="mat-form-field m-0 p-1" numbersOnly required type="number" min="0" max="900" placeholder="Kcal per 100g" [(ngModel)]="ingredientTemplate.kcal" name="kcal" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="mat-form-field m-0 p-1" numbersOnly required type="number" min="0" max="100" placeholder="Carbohydrates per 100g" [(ngModel)]="ingredientTemplate.carbs" name="carbs" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="mat-form-field m-0 p-1" numbersOnly required type="number" min="0" max="100" placeholder="Fats per 100g" [(ngModel)]="ingredientTemplate.fats" name="fats" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="mat-form-field m-0 p-1" numbersOnly required type="number" min="0" max="100" placeholder="Proteins per 100g" [(ngModel)]="ingredientTemplate.proteins" name="proteins" />
                    </mat-form-field>
                </form>
            </div>

            <!--<div class="col col-6 m-0 p-0 d-inline-block position-top">
                <mat-list>
                    <mat-list-item> Pepper </mat-list-item>
                    <mat-list-item> Salt </mat-list-item>
                    <mat-list-item> Paprika </mat-list-item>
                </mat-list>
            </div>-->
        </div>
    </div>
</div>
