<div class="row border border-dark rounded-lg p-3 m-1 mb-3">
    <h5 class="h3">Recipe</h5>
    <mat-divider></mat-divider>
    <br>


    <!-- NAZWA PRZEPISU -->
    <form class="col col-10 col-md-9 p-2 m-0 d-inline-block">
        <mat-form-field>
            <input type="text" name="recipeName" [(ngModel)]="recipeName" matInput placeholder="Recipe name" />
        </mat-form-field>
    </form>


    <!-- PRZYCISK DODAWANIA PRZEPISU -->
    <div class="col col-2 col-md-3 p-0 m-0 d-inline-block">
        <button class="btn btn-light btn-block" id="addRecipeBtn" (click)="addRecipe()"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>


    <!-- OPIS PRZYGOTOWANIA PRZEPISU -->
    <div class="col col-12 p-0 m-0">
        <mat-form-field class="input-field">
            <textarea class=" text-dark" matInput name="recipeDesc" cols="100" rows="5"
                      placeholder="Recipe preparation description" [(ngModel)]="recipeDesc"
                      required></textarea>
        </mat-form-field>
    </div>


    <!-- TABELA SKŁADNIKÓW PRZEPISU -->
    <div class="card table-responsive p-0 m-0 col-12">
        <table id="recipeTable" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
               class="mat-elevation-z8 p-0 m-0 col-12">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Name
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                    Weight
                </th>
                <td mat-cell class="ml-1" *matCellDef="let element"> {{element.weight | number : '1.0-0' }} </td>
            </ng-container>


            <!-- Kcal Column -->
            <ng-container matColumnDef="kcal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by kcal">
                    Kcal
                </th>
                <td mat-cell class="ml-1" *matCellDef="let element"> {{element.kcal | number : '1.0-0' }} </td>
            </ng-container>


            <!-- Carbs Column -->
            <ng-container matColumnDef="carbs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by carbs">
                    Carbs
                </th>
                <td mat-cell class="ml-1" *matCellDef="let element"> {{element.carbs | number : '1.0-0' }} </td>
            </ng-container>


            <!-- Fats Column -->
            <ng-container matColumnDef="fats">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fats">
                    Fats
                </th>
                <td mat-cell class="ml-1" *matCellDef="let element"> {{element.fats | number : '1.0-0' }} </td>
            </ng-container>


            <!-- Proteins Column -->
            <ng-container matColumnDef="proteins">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by proteins">
                    Proteins
                </th>
                <td mat-cell class="ml-1" *matCellDef="let element"> {{element.proteins | number : '1.0-0' }} </td>
            </ng-container>



            <!-- PRZYCISKI FUNKCYJNE -->
            <!-- Edit, Delete -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- 'element' przekazuje guid danego składnika! -->
                    <button class="btn btn-info ml-1" (click)="editIngredient(element)" mat-button>
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                    </button>
                    <button class="btn btn-danger ml-1" (click)="deleteIngredient(element)" mat-button>
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </mat-cell>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>



    <!-- ZDJĘCIE PRZEPISU -->
    <!-- Image upload -->
    <div class="row mt-3 pb-2">
        <div class="col">
            <div class="custom-file">
                <input type="file" accept="image/*" class="custom-file-input" id="customFile" (change)="handleFileInput($any($event.target).files)" [disabled]="working">
                <label class="custom-file-label" for="customFile">{{ uploadFileLabel }}</label>
            </div>
        </div>
        <div class="col-auto pl-sm-0">
            <button type="button" class="btn btn-light btn-block" ngbTooltip="Upload" (click)="upload()" [disabled]="working">Upload</button>
        </div>
    </div>
    <div class="row mt-3 pb-2" *ngIf="working">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }" [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress }}%</div>
            </div>
        </div>
    </div>
    <div class="row col-12 mt-3 m-0 p-0 pb-2" *ngIf="uploadUrl?.length">
        <img [src]="uploadUrl" alt="preview" class="rounded shadow col-12 m-0 p-0">
    </div>
</div>
