<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodEater - @ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 ">
            <div class="container">
                <button class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li id ="HomeNav" class="nav-item">
                            <a class="nav-link text-light" asp-controller="App" asp-action="Index">Home</a>
                        </li>
                        <li id ="RecipesNav" class="nav-item">
                            <a class="nav-link text-light" asp-controller="App" asp-action="Recipes">Recipes</a>
                        </li>
                        <li id ="AboutNav" class="nav-item">
                            <a class="nav-link text-light" asp-controller="App" asp-action="AboutUs">About us</a>
                        </li>
                        <li id ="ContactNav" class="nav-item">
                            <a class="nav-link text-light" asp-controller="App" asp-action="Contact">Contact</a>
                        </li>
                        <li id ="SignNav" class="nav-item">
                            <a class="nav-link text-light" asp-controller="App" asp-action="SignIn">Sign in</a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="p-0 m-0">
            @RenderBody()
        </main>
    </div>

    <div class="fixed-bottom">
    <footer class="border-top bg-dark text-center text-white pt-1 pb-1">
        <div class="container justify-content-center align-items-center">
            <section class="ml-1 mr-1">
                <a class="btn btn-link btn-floating btn-lg text-light"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-facebook-square fa-1x"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-light"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-twitter fa-1x"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-light"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram fa-1x"></i>
                </a>
            </section>
        </div>
            
        <div class="container text-center text-light">
            &copy; 2022 - FoodEater -&nbsp;<a asp-controller="App" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
