<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodEater - @ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-secondary" ng-app="">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-dark box-shadow mb-3 shadow">
            <div class="container">
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target=".navbar-collapse"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav flex-grow-1 ml-auto">
                            <li id="HomeNav" class="nav-item">
                                <a class="nav-link text-light" asp-controller="App" asp-action="Index">Home</a>
                            </li>
                            <li id="RecipesNav" class="nav-item">
                                <a class="nav-link text-light" asp-controller="App" asp-action="Recipes">Recipes</a>
                            </li>
                            <li id="AboutNav" class="nav-item">
                                <a class="nav-link text-light" asp-controller="App" asp-action="AboutUs">About us</a>
                            </li>
                            <li id="ContactNav" class="nav-item">
                                <a class="nav-link text-light" asp-controller="App" asp-action="Contact">Contact</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            @*PRZYLEGANIE DO PRAWEJ*@

                            @if (User.Identity.IsAuthenticated)
                            {

                                <li id="SignNav" class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li id="SignNav" class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
            </div>
        </nav>
    </header>

    <div class="container text-white">
        <main role="main" class="p-0 m-0">
            @RenderBody()
        </main>
    </div>

    <div class="fixed-bottom border-top border-dark bg-dark text-center">
        <footer>
            <div class="container">
                <section>
                    <a class="btn btn-dark text-muted"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-facebook-square fa-1x"></i>
                    </a>

                    <a class="btn btn-dark text-muted"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-twitter fa-1x"></i>
                    </a>

                    <a class="btn btn-dark text-muted"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-instagram fa-1x"></i>
                    </a>
                </section>
            </div>

            <div class="container text-muted">
                <small>&copy; 2022 - FoodEater -&nbsp;<a asp-controller="App" asp-action="Privacy">Privacy</a></small>
            </div>
        </footer>
    </div>

    @*
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    *@
    @RenderSection("Scripts", required: false)
</body>
</html>
