@model IngredientCompositionDTO
@{
    ViewData["Title"] = "Recipe creator";
}
@section Scripts {
    <script src="~/client/runtime.js"></script>
    <script src="~/client/polyfills.js"></script>
    <script src="~/client/vendor.js"></script>
    <script src="~/client/main.js" asp-append-version="true"></script>

}

@section head {
    <link href="~/client/styles.css" rel="stylesheet" />
}


<div class="row d-flex justify-content-center p-2 mt-3 mb-3">
    <div id="recipeCreator" class="m-3 p-3">
        <app-recipe-creator></app-recipe-creator> @* Angular injection *@
    </div>
</div>