@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Recipes";
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="row">
    @foreach (var r in Model)
    {
        <div class="card col-md-3 recipe-info m-1 p-0 bg-dark text-white">
            <img class="card-img-top img-fluid text-center" style=" width: 100%; max-height: 400px; object-fit: cover;" src="~/src/@(r.Id).jpg" alt="@r.Name"/>
            <div class="card-body text-center">
                <h4 class="card-title text-left">@r.Name</h4>
                <p class="card-text text-left">@r.Description</p>
            </div>
            
            <a href="#" class="card-footer btn btn-outline-info border-secondary border-left-0 border-right-0 rounded-0">See this recipe!</a>
            <div class="card-footer text-center text-muted"><small>Last updated: @r.UpdateDT</small></div>
        </div>
    }
</div>

