@{
    ViewData["Title"] = "Recipes";
}

<div class="recipe-info">
    <img src="~/src/BlueberryOmlette.jpg" />
    <h3>Blueberry Omlette</h3>
    <ul class="recipe-props">
        <li>Daily Average Requirements per portion</li>
        <li>400 kcal</li>
        <li>Carbohydrates: 40%</li>
        <li>Proteins: 32%</li>
        <li>Fiber: 51%</li>
        <li>Fats LA (Omega-6): 21%</li>
        <li>Fats ALA (Omega-3): 20%</li>
    </ul>
    <button>See details!</button>
</div>
