@{
    ViewData["Title"] = "Sign in";
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


<div>
    @*<div class="container">
            <button class="btn btn-dark" id="loginToggle">Login</button>
        </div>*@
    <div class="col-md-6 offset-md-3" id="loginForm">
        <div class="card card-body bg-dark text-light">
            <div class="container">
                <form method="get" class="popup-form">
                    <div class="form-group">
                        <label>Username:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input class="form-control" type="password" />
                    </div>
                    <div class="form-group">
                        <label>Remember me?</label>
                        <input type="checkbox" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark"><a class="fas fa-sign-in-alt" fa-1x"></a> Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
