
/*AUTOCOMPLETE SELECTORS*/
.ui-autocomplete {
    z-index: 1000 !important;
    margin: 10px 0 0 !important;
    list-style: none !important;
    font-size: 16px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #f5f5f5 !important;
    border: 1px solid rgb(0 38 255) !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    background-clip: padding-box !important;
}

    .ui-autocomplete > li > div {
        display: block !important;
        padding: 3px 20px !important;
        clear: both !important;
        font-weight: normal !important;
        line-height: 1.42857143 !important;
        color: #333333 !important;
        white-space: nowrap !important;
    }

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none !important;
    color: rgb(0 0 0) !important;
    background-color: rgb(0 0 0) !important;
    cursor: pointer !important;
}

.ui-helper-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}


/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
    color: white !important;
    background-color: black !important;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    color: white !important;
    background-color: black !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}


input, textarea {
    font-size: 18px;
    width: 200px;
    position: center;
}

    input[type=submit] {
        width: auto;
    }

label {
    font-size: 16px;
    position: center;
}

#theForm {
    background-color: lightgray;
    position: center;
}

    #theForm input[type="submit"] {
        background-color: forestgreen;
        color: white;
    }

ul.recipe-props {
    font-size: small;
    position: center;
}

    ul.recipe-props li {
        list-style-type: none;
    }

.recipe-info {
    border: 2px solid white;
    display: inline-block;
    padding: 8px 8px;
    margin: 2px;
    width: 450px;
    background-color: lightgray;
    border-radius: 20px;
    position: center;
}

    .recipe-info img {
        margin: 5px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
        float: left;
        border: 2px solid white;
        border-radius: 20px;
        max-width: 200px;
    }

#loginToggle {
    cursor: pointer;
    position: center;
}

.popup-form {
    padding: 5px;
    border: 2px white inset;
    display: inline-block;
    position: center;
}

    .popup-form input {
        width: 200px
    }

        .popup-form input[type=checkbox], input[type=submit] {
            width: auto;
        }

    .popup-form label {
        width: 150px;
        display: inline-block;
    }*/
