@page
@model FoodEaterRecipes.Pages.ErrorModel
@{
}


<div class="row d-flex justify-content-center p-2 mt-3 mb-3">
    <div id="error" class="col-sm-12 col-md-9 col-lg-6 m-3 p-3">
        <h1 class="text-justify text-break m-2 p-2">Sorry...</h1>
        <p class="text-justify text-break m-2 p-2">Some problem occured. Please try again.</p>
    </div>
</div>

